<div class="mainPage">
    <div class="homecontainer">
        <h1>Create Dockerfiles and Kubernetes Yaml Files instantly</h1>
        <p>This tool helps you create Dockerfile and Kubernetes YAML file instantly. You can specify fill the detials as per the form and generate the files accordingly. These files can be used to create the docker images and the kubernetes yaml files can be used for deployments to the kubernetes cluster. For more info on Dockerfile you can visit the official website https://docs.docker.com/engine/reference/builder/ and for kubernetes yaml file you can visit <a href="https://kubernetes.io/docs/concepts/configuration/#naked-pods-vs-replicasets-deployments-and-jobs" target="blank">https://kubernetes.io/docs/concepts/configuration/#naked-pods-vs-replicasets-deployments-and-jobs </a> . Apart form that the tooltip has been provided for each of the option for basic understanding .</p>
     </div>
</div>


